################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CheckOutProblem/.vs/CheckOutProblem/v16/Server/sqlite3
